[submodule "iphone/Libraries/AFNetworking"]
	path = iphone/Libraries/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "iphone/Libraries/SocketRocket"]
	path = iphone/Libraries/SocketRocket
	url = git@github.com:GargoyleSoftware/SocketRocket.git
