html, body{
	background-color:#fff;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
p{
	margin:0 0 20px;
}
h2{
	color:#30353d;
}
header{
	background: #f0042a;
	background: -moz-linear-gradient(top,  #f0042a 0%, #c40424 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0042a), color-stop(100%,#c40424));
	background: -webkit-linear-gradient(top,  #f0042a 0%,#c40424 100%);
	background: -o-linear-gradient(top,  #f0042a 0%,#c40424 100%);
	background: -ms-linear-gradient(top,  #f0042a 0%,#c40424 100%);
	background: linear-gradient(top,  #f0042a 0%,#c40424 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0042a', endColorstr='#c40424',GradientType=0 );
	box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset, 0 1px 2px rgba(0,0,0,0.6);
	border-bottom:1px solid #5c2012;
	padding:12px 0 8px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
}
header h1{
	color:#fff;
	font-family: 'Museo300', sans-serif;
	font-weight: 300;
	font-size:36px;
	line-height: 1;
	margin:0;
	text-align:center;
	text-shadow:0 1px 1px rgba(0,0,0,0.3);
}
/* ========================================================= Structure ===*/
#login-container{
	margin: 90px auto 50px;
}
#event-container{
	
}
#main-container{
	margin:0 20px;
}
/* ========================================================= Login ===*/
#login-container h2{
	text-align:center;
	font-family: 'Museo700', sans-serif;
	font-weight: 700;
	font-size:46px;
	margin:130px 0 0 ;
}
#login-container p{
	text-align:center;
	font-family: 'Museo300', sans-serif;
	font-weight: 300;
	font-size:22px;
}
#add-facebook-btn{
	display:block;
	margin:0 auto;
	padding: 10px 15px;
	width:180px;
}
/* ========================================================= Event ===*/
#event-info{
	background-image:url('../img/dots.png');
	border-radius:8px;
	top:0; bottom: 0; left:0;
	padding:10px;
	position: fixed;
	margin:55px 0 10px 10px;
	width:280px;
}
#event-content{
	background-color:#fff;
	border-radius:4px;
	box-shadow:0 1px 1px rgba(0,0,0,0.3);
	overflow: hidden;
	padding:20px;
	position:absolute;
	top:62px; right:10px; bottom:10px; left:10px;
}
#event-content h2{
	margin:5px 0 5px;
}
#event-content img{
	border-radius:4px;
	height: auto;
	margin:0 0 10px;
    max-width: 100%;
}
#description{
	color:#666;
	font-size:13px;
}
/* -----------
-- Playlist --
----------- */
#playlist{
	margin:75px 0 0 310px;
	position: relative;
	bottom: 15px;
}
#playlist ul{
	list-style:none;
	margin:0;
	padding:0;
}
#playlist li{
	background-color:#f2f1ed;
	border:1px solid #c9c9c5;
	border-radius:4px;
	box-shadow: 0 2px 0 #b2b2b2, 0 1px 0 #fff inset;
	overflow:hidden;
	padding:10px;
	margin:0 0 10px 0;
}
#playlist li img{
	border-radius:4px;
	border:1px solid #82827f;
	box-shadow:0 1px 0 #fff;
	height: auto;
	width:50px;
    max-width: 100%;
}
/*#playlist li:nth-child(3){
	background: #bad3e3;
	background: -moz-linear-gradient(top,  #bad3e3 0%, #a7becc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bad3e3), color-stop(100%,#a7becc));
	background: -webkit-linear-gradient(top,  #bad3e3 0%,#a7becc 100%);
	background: -o-linear-gradient(top,  #bad3e3 0%,#a7becc 100%);
	background: -ms-linear-gradient(top,  #bad3e3 0%,#a7becc 100%);
	background: linear-gradient(top,  #bad3e3 0%,#a7becc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bad3e3', endColorstr='#a7becc',GradientType=0 );
	border: 1px solid #7697AB;
	box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset, 0 1px 2px rgba(0,0,0,0.6);
}
#playlist li:nth-child(1), #playlist li:nth-child(2){
	opacity:0.3;
}*/
#playlist .art{
	margin:0 10px 0 0;
	vertical-align: top;
}
#playlist .playlist-detail{
	display: inline-block;
	margin:9px 0 0 0;
}
#playlist .artist{
	display: block;
	font-weight:bold;
	line-height: 1;
}
#playlist .artist a{
	color:#30353d;
}
#playlist .album{
	font-size:14px;
}
#playlist .album a{
	color:#515966;
}
#playlist .count{
	background-color:#e0dfdc;
	border:1px solid #cccbc8;
	border-radius:4px;
	color: #999;
	display: inline-block;
	font-size: 12px;
	margin:5px 10px 0 0;
	padding:1px 5px;
	vertical-align: text-bottom;
}
#playlist .vote{
	float:right;
	margin:14px 5px 0;
}
#playlist .vote-up{
	background-image: url('../img/facebook.png');
	background-position: top;
	display: inline-block;
	height: 26px;
	width: 26px;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	vertical-align: top;
}
#playlist .vote-up:hover,#playlist .like{
	background-position: bottom;
}

/* ========================================================= Search ===*/
#search{
	
}

/* ========================================================= Utility ===*/
.btn{
	background-color:#549bc2; /*#04ccf0*/
	border:1px solid #315c73;
	border-radius:4px;
	box-shadow:0 1px 0 rgba(255,255,255,0.5) inset;
	color:#fff;
	display:block;
	margin:0 0 20px;
	padding:10px 0;
	text-align:center;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
	/*text-transform: uppercase;*/
}
.btn:hover{
	color:#fff;
}
